body {
     margin: 0; padding: 0;
     
}

footer{
     background-color: #f0e68c;
}





/* CSS モバイルファースト */

#key_visual{                    /* メインビジュアルの画像*/
	width: 100%;
	height: 250px;              /*Lesson課題で指定された高さ250pxの設定*/
	background-image:url("../images/main.jpg");
	background-size:cover;      /* 画像の幅と高さの比率は固定されたまま、背景の表示領域を覆うように表示*/
}

.text-center {                  /*h1見出し部分*/
     margin: 10px;
     padding: 10px;
     text-align: center; 
}

#section {                      /*魅力3項目の部分*/
     text-align: center;
     margin: 0 auto;            /*センタリング*/
     width: 80%;
}

.miryoku1 {
    margin: 10px;
    padding: 10px;
    background-color: #ffffcc;
}

.miryoku2 {
    margin: 10px;
    padding: 10px;
    background-color: #ffffcc;
}

.miryoku3 {
    margin: 10px;
    padding: 10px;
    background-color: #ffffcc;
}

.botton {
    width: 300px;
    font-size: 24px;
    margin: 5px auto;           /*中央寄せ & 上下に5pxの幅*/
    font-weight:bold;           /*文字の太さ   bold=太字*/
    text-decoration:none;       /*テキストの下線・上線・打ち消し線・点滅*/
    display:block;              /*インラインボックス<a>をブロック化*/
    text-align:center;
    padding: 10px;
    color:#FFFFFF;
    background-color: #49a9d4;
    border-radius: 25px;
    box-shadow:0px 0px 3px 3px #cfcfcf;             /*ボックスシャドウ    横方向のずれ,下方向のずれ,ぼかし具合,影の色 */
    -moz-box-shadow:0px 0px 3px 3px #cfcfcf;        /* Firefox用 */
    -webkit-box-shadow:0px 0px 3px 3px #cfcfcf;     /* GoogleChrome,Safari用 */
    border:3px solid rgba(0,0,0,0.2);               /* solid(1本線)   赤,緑,青,変化の具合 */
}

footer > .botton:hover{        /* footerのボタンにマウスポインタが乗ったら */
    background-color: #0099ff;
    /* position:absolute; でfooterの余白なし footerを下に固定 */
}





/* CSS メディアクエリ (ipadやPC)で適用されるCSS */

@media (min-width: 769px) {     /*Lesson課題で指定された769px以上をPC表示の設定*/
#key_visual{
	width: 100%;
	height: 500px;              /*Lesson課題で指定された高さ500pxの設定*/
	background-image:url("../images/main.jpg");
	background-size:cover;      /* 画像の幅と高さの比率は固定されたまま、背景の表示領域を覆うように表示*/
}

.text-center {                  /*h1見出し部分*/
     margin: 10px;
     padding: 10px;
     text-align: center; 
}


#section {                      /*魅力3項目の部分*/
     text-align: center;
     display:flex;              /* 横並び*/
     margin: 0 auto;            /*センタリング*/
     width: 80%;
}

.miryoku1 {
    margin: 10px;
    padding: 10px;
    background-color: #ffffcc;
}

.miryoku2 {
    margin: 10px;
    padding: 10px;
    background-color: #ffffcc;
}

.miryoku3 {
    margin: 10px;
    padding: 10px;
    background-color: #ffffcc;
}

h2{
     text-align: center;        /*h2の見出し部分を中央寄せでセンタリング*/
}

p{
     text-align: center;        /*pの見出し部分を中央寄せでセンタリング*/
}

.botton {
    width: 300px;
    font-size: 24px;
    margin: 5px auto;           /*中央寄せ & 上下に5pxの幅*/
    font-weight:bold;           /*文字の太さ   bold=太字*/
    text-decoration:none;       /*テキストの下線・上線・打ち消し線・点滅*/
    display:block;              /*インラインボックス<a>をブロック化*/
    text-align:center;
    padding: 10px;
    color:#FFFFFF;
    background-color: #49a9d4;
    border-radius: 25px;                            /*角丸を表現*/
    box-shadow:0px 0px 3px 3px #cfcfcf;             /*ボックスシャドウ    横方向のずれ,下方向のずれ,ぼかし具合,影の色 */
    -moz-box-shadow:0px 0px 3px 3px #cfcfcf;        /* Firefox用 */
    -webkit-box-shadow:0px 0px 3px 3px #cfcfcf;     /* GoogleChrome,Safari用 */
    border:3px solid rgba(0,0,0,0.2);               /* solid(1本線)   赤,緑,青,変化の具合 */
}

footer > .botton:hover{        /* footerのボタンにマウスポインタが乗ったら */
    background-color: #0099ff;
    /* position:absolute; でfooterの余白なし footerを下に固定 */
}

}